/* Global */
*{
    box-sizing: border-box;
}
*:focus{
    outline: 2px dotted #ff7500;
    offset: 2px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
/* Container */
.container{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 170px;
    padding-right: 170px;
}
/* header */
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header{
    padding: 16px 0;
    border-top: 5px solid #ff7500;
}
.site-logo{
    transition: 0.5s;
}
.site-logo:hover{
    opacity: 0.8;
}
.site-logo:active{
    opacity: 0.6;
}
.site-nav_link{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-list-item{
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    margin-right: 32px;
    transition: 0.2s;
}
.nav-list-item:hover{
    color: #ff7500;
    border-bottom:2px solid #ff7500;
}
.nav-list-item:active{
    opacity: 0.6;
}


.nav-list_cta{
    padding: 12px 24px;
    background: #ff7500;
    color: #fff;
    text-transform: capitalize;
    border-radius: 4px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-decoration: none;
    transition: 0.5s;
    
}
.nav-list_cta:hover{
    opacity: 0.8;
}
.nav-list_cta:active{
    opacity: 0.6;
}
/* main */
/* hero section */
.hero{
    background: #252420;
    height: 488px;
    
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.hero-content{
    width: 387px;
    height: 328px;
    margin: 80px 0;
}
.hero-line{
    width: 80px;
    height: 3px;
    background: #FF7500;;
}
.hero-title{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.5px;
    color: #fff;
}
.hero-text{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 44px;
}
.hero-btn{
    padding: 12px 24px;
    background: #FF7500;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.hero-btn:hover{
    opacity: 0.8;
}
.hero-btn:active{
    opacity: 0.6;
}
.hero-img{
    margin-top: 40.81px;
}
/* feaures section */
.feaures{
    height: 936px;
    background: #fff;
    padding: 210px 0;
}
.feaures-title{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 86px;
    letter-spacing: 0.5px;
}
.feaures-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 72px;
}
.feaures_item{
    height: 340px;
    height: 245px;
}
.feaures_item:not(:last-child){
    margin-right: 40px;
}
.feaures_image{
    width: 100px;
    height: 100px;
    background: rgba(255, 117, 0, 0.2);
    padding: 25px;
    border-radius: 50%;
}
.feaures-item_title{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin: 12px 0;
}
.feaures-item_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}